@import "../../theme.scss";
//Event Page scss
.EventElement {
  @media screen and ($mobileLarge) {
    &-Info-Figure {
      height: 300px;
    }
  }

  @media screen and ($tablet) {
    padding: 0 25px 65px;

    &-Info {
      display: flex;
      justify-content: space-between;
    }

    &-Info-Figure {
      height: 230px;
      width: 400px;
    }

    &-Info-Content {
      margin-bottom: 0;
      width: 270px;
      padding: 0 25px;
    }

    &-Info-Content-Row {
      margin-bottom: 32px;
    }

    &-Info-ItemTitle {
      font-size: 14px;
      margin-bottom: 12px;
    }

    &-Description {
      width: 800px;
    }
  }

  @media screen and ($desktop) {
    margin: 0 auto;
    padding: 0 0 64px;
    max-width: 930px;

    &-Info-Figure {
      height: 350px;
      width: 600px;
    }

    &-Info-Content {
      width: 300px;
    }

    &-Info-Content-Row {
      margin-bottom: 32px;
    }

    &-Info-ItemTitle {
      font-size: 16px;
    }

    &-Info-ItemValue {
      font-size: 16px;
    }

    &-Description {
      width: 600px;
      font-size: 16px;
    }
  }

  @media screen and ($desktopLarge) {
    max-width: 1280px;

    &-Info-Figure {
      height: 450px;
      width: 800px;
    }

    &-Info-Content {
      width: 400px;
    }

    &-Description {
      width: 800px;
    }
  }
}
