@import "../../theme.scss";
//Footer scss
.Footer {
  background-color: $darkGrey;
  padding: 20px;

  &-Text {
    color: $lightGray;
    font-size: 12px;
    text-align: center;
  }

  @media screen and ($tablet) {
    padding: 30px;

    &-Text {
      font-size: 14px;
    }
  }
}
